img{
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: #000;
}
a:hover{
  text-decoration: none;
  color: #000;
}
ul, ol{
  list-style: none;
  padding: 0;
  margin: 0;
}
.hidden{
  display: none!important;
}

/*Menu*/
#menu-main{
  background: #f1f1f1;
  position: relative;
  z-index: 99;
}
#menu-main .content-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
#menu-main .logo{
  max-width: 200px;
}
#menu-main .item-menu  ul{
  display: none;
}
#menu-main .item-menu{
  display: flex;
  align-items: center;
}
#menu-main .item-menu li{
  position: relative;
}
#menu-main .item-menu li a{
  padding: 7px 15px;
  display: block;
  width: max-content;
}
#menu-main .item-menu li:hover > ul{
  display: block;
}
#menu-main .item-menu li ul{
  position: absolute;
  background: #66dbcd;
}
#menu-main .item-menu li ul li ul{
  width: 100%;
  left: 100%;
  top: 0;
}
#menu-main .item-menu li ul li a{
  display: block;
}
#menu-main .item-menu li ul li{
  border-bottom: 1px solid #111;
}
#menu-main .item-menu li ul li:last-child{
  border-bottom: 0;
}
.show-cart{
  font-size: 20px;
  position: relative;
}
.count-cart{
  position: absolute;
  background: rgba(255,255,255,0.85);
  min-width: 20px;
  display: flex;;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  top: 0;
  right: 0px;
  font-weight: bold;
}

/*item*/
.item{
  margin-bottom: 15px;
}
.title h3{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.2rem;
  margin-bottom: 0;
}
.item__content{
  border: 1px solid #ccc;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.item__detail{
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: flex-end;
}
.item__detail > * {
  width: 100%;
}
.item__name{
  margin-bottom: 0;
  align-self: flex-start;
}
.item__name a{
  display: block;
  padding: .5em 0;
  border-bottom: 1px solid #ccc
}
.price{
  display: flex;
  align-items: center;
  align-self: flex-end;
}
.price p{
  margin-bottom: 0;
  padding: .5em 0;
  margin-right: 15px;
}
.main-price{
  font-size: 24px;
  font-weight: 600;
}
.old-price{
  font-style: oblique;
  text-decoration: line-through;
  color: red;
}
.percent-price{
  font-style: oblique;
  color: red;
}
.button-buy{
  margin: 0 0 15px 0;
  display: block;
  width: max-content;
  padding: 5px 2em;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  color: #3c4043;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}
.button-buy:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-buy:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-buy:focus {
  outline: none;
}

.button-buy:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-buy:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-buy:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-buy:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-buy:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.button-buy i{
  margin-right: 5px;
}
.item__img{
  position: relative;
  padding-bottom: 75%;
}
.item__img img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*news*/
.news{
  margin-bottom: 30px;
}
.news__content{
  border: 1px solid #ccc;
}
.news__detail{
  padding: 0 1em;

}
.news__{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: .7em;
  margin-top: .5em;
}
.news__name{
  margin-bottom: 0;
  padding: .5em 0;
  border-bottom: 1px solid #ccc;
}

.news__img{
  position: relative;
  padding-bottom: 56.25%;
}
.news__img img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title h1{
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: .7em 0;
}
.news--title h1{
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: .7em 0;
}
.news-content{
  margin-bottom: 50px
}

/*footer*/

#main-footer{
  background: #000;
  padding: 2em 0;
}
#main-footer iframe{
  max-height: 300px
}
#main-footer .title{
  color: #ccc;
  padding-bottom: 15px;
  border-bottom: 1.5px solid #ccc;
  margin-bottom: 30px;
}
#main-footer .content--footer p{
  color: #ccc;
  margin-bottom: 5px;
}
.content--footer p span{
  font-weight: bold;
}
#main-footer p{
  margin-bottom: 0
}

/*panigation*/
.navigation{
  margin-bottom: 30px;
}
.pagination{
  justify-content: center;
}
.page-item.active .page-link{
  background: #000;
  border-color: #111;
}
.page-link{
  color: #000;
}

/*news detail*/
.head{
  display: flex;
  align-items: center;
  padding: 0 30px;
  position: relative;
}
.head:before{
  content: '';
  position: absolute;
  width: 100%;
  height: calc(50% + 0.7em);
  z-index: -1;
  left: 0;
  bottom: -0.7em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.head:after{
  width: 20px;
  height: 1px;
  border-bottom: 1px solid #ccc;
  content: '';
  position: absolute;
  left: 0;

}
.date{
  height: max-content;
  background: #6a30b7;
  color: #fff;
  padding: 7px 12px;
  display: grid;
  grid-template-columns: auto auto;
  margin-right: 15px;
  border-radius: 5px;
}
.day{
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-right: 7px;
}
.month{
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.news-content{
  padding: 0 30px 30px;
  border: 1px solid #ccc;
  border-top: none;
  position: relative;
}
.share-link ul{
  display: flex;
}
.share-link{
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translatey(50%);
}
.share-link .btn{
  background: #fff;
  margin-left: 15px;
  border: 1px solid #ccc;
}
.btn-facebook:hover{
  background: #435F9F;
  color: #fff;
}
.btn-twitter:hover{
  background: #00AAF0;
  color: #fff;
}
.btn-pinterest:hover{
  background: #CE1F21;
  color: #fff;
}
.btn-linkedin:hover{
  background: rgb(10, 102, 194);
  color: #fff;
}

/*Item detail*/
.thumbnail{
  padding-bottom: 100%;
  position: relative;
}
.thumbnail img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.thumb_item{
  padding-bottom: 100%;
  position: relative;
}
.thumb_item img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-right: 1px solid #000;
  padding: 5px;
}
.list-thumbs{
  margin: 7px 0 15px 0;
  border: 1px solid #000;
  border-right: 0;
}
.item-content{
  margin-top: 30px;
}
.quantity {
  position: relative;
  width: 50%;
  margin-right: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 100%;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  position: absolute;
  height: 42px;
  right: 0;
  top: 0;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
.items .share-link{
  transform: translate(0);
  position: relative;
}
.items .share-link .btn{
  margin-right: 15px;
  margin-left: 0;
}
.add-cart{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.add-cart button{
  margin-bottom: 15px;
  display: block;
  cursor: pointer;
}
#myTab{
  margin-bottom: 30px;
}

/*cart*/
.empty-data{
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.cartpage table img{
  max-width: 100px;
  width: 100%;
}
.cartpage table{
  width: 100%;
  margin-bottom: 30px;
}
.cartpage table td{
  vertical-align: middle;
}
.cartpage table td:first-child{
  text-align: center;
}
.cartpage table td:first-child i{
  color: #fff;
  background: #ed1d24;
  padding: 7px;
  border-radius: 5px;
}
.cartpage .quantity{
  width: 55%;
}
#update-quantity .btn-update-quantity{
  margin-left: 5px;
  cursor: pointer;
  margin-right: -5px;
  justify-content: space-between;
}
#update-quantity{
  display: flex;
}
.cartpage table tfoot p{
  margin-bottom: 0;
  font-weight: bold;
}
.cartpage table thead{
  font-weight: bold;
}
.cartpage table button{
  cursor: pointer;
}
.cartpage table td:first-child button{
  padding: 0;
}
.thanhtoan{
  text-align: right;
  margin-bottom: 30px;
}
.thanhtoan a{
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}
.show-cart.animation-cart{
  animation: cart .5s;
}

/*pay-cart*/
.title h4{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  position: relative;
  width: max-content;
}
.title h4:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #406314;
  bottom: -7px;
}
.info{
  margin-bottom: 30px;
}
.info--input{
  display: flex;
  flex-wrap: wrap;
}
.info--input input{
  margin-bottom: 15px;
}
.info--input input[name=phone],
.info--input input[name=email]{
  width: calc(50% - 7.5px);
  margin-right: 15px;
}
.info--input input[name=email]{
  margin-right: 0;
}
.info--select{
  display: flex;
}
.info--select select{
  width: calc(100%/3 - 10px);
  margin-bottom: 15px;
  margin-right: 15px;
}
.info--select select:last-child{
  margin-right: 0;
}
.ship-item{
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: .3s;
}
.ship-item:hover{
  transition: .3s;
  border-color: blue;
}
.ship-item input{
  cursor: pointer;
  position: relative;
  margin-left: 0;
  margin-right: 15px;
}
.ship-item img{
  width: 70px;
}
.ship-item > div {
  margin-left: 15px;
}
.ship-item p{
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.ship-item span{
  font-size: 13px;
  font-style: italic;
}
.cart--item{
  display: grid;
  grid-template-columns: 100px 35% 40%;
  margin-bottom: 15px;
  grid-column-gap: 15px;
  background: rgba(17,17,17,0.08);
  padding-right: 15px;
}
.cart--item__image a{
  display: block;
  padding-bottom: 75%;
  position: relative;
}
.cart--item__image img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart--item__name{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cart--item__name p{
  margin-bottom: 0;
  width: 100%;
}
.cart--item__price{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cart--total{
  padding: 7px 15px;
  background: rgba(17,17,17,0.08);
}
.cart--total > div{
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
}
.tong{
  border-top: 1px solid
}
.tong .cart--total__count{
  font-weight: bold;
}
.tong .cart--total__label{
  font-weight: bold;
}
.ship-item > div{
  color: #aaa;
  transition: .3s;
}
.ship-item.active > div{
  color: #111;
  transition: .3s;
}
.ship-item.active{
  border-color: blue;
}
.checkout{
  margin-top: 30px;
  text-align: right;
}
.checkout button{
  cursor: pointer;
}
.cartpage form{
  margin-bottom: 15px;
}

/*animetion cart*/
@keyframes cart{
  0%,100%{
    transform: scale(1) rotate(0);
  }
  25%, 75%{
    transform: scale(1.5) rotate(30deg);
  }
  50%{
    transform: scale(1.5) rotate(-30deg);
  }

}